body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:Arial,sans-serif;
  background-color: #1da1f2;
}
/*clases reutilizables*/
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase{
  text-transform: uppercase;
}
/*header*/
header{
  width: 100%;
  height: 40px;
  background-color: #026aa7;
  overflow: hidden;
}
#button-header{
  margin-top: 5px;
  margin-left: 8px;
  padding:1px 8px;
  background-color: #4e97c2;
  display: inline-block;
  text-align: center;
}
div a{
  text-decoration: none;
  text-align: center;
}
.fa-trello,.fa-search,.fa-plus,.fa-info,.fa-bell-o,.fa-star-o,.fa-user-secret{
  color: #fff;
}
.header-btn-text{
  color: #fff;
  line-height: 30px;
  font-weight: 700;
}
#button-search{
  height: 20px;
  margin-top: 2px;
  margin-left: 8px;
  padding:4px 9px;
  background-color: #4e97c2;
  display: inline-block;
  text-align: center;
}
#input-text{
  background-color: #4e97c2;
  border: none;
  outline:0px;
  width: 127px;
}
img[alt="logo"]{
  width: 80px;
  height: 30px;
  margin-top: 10px;
}
.logo{
  position: absolute;
  text-align: center;
  display:block;
  top: -5px;
  left: 50%;
}
#button-user{
  float: right;
  margin-right: 9px;
}
#button-user div{
  display: inline-block;
}
#icon{
  margin-left: 10px;
  margin-top: 8px;
  margin-left: 8px;
  padding:3px 8px;
  background-color: #4e97c2;
}
.user{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5.5px;
  margin-left: 8px;
  background-color: #d6dadc;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
/*primera Seccion*/
#first{
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}
#container-text{
  width: 100%;
  height: 60px;
}
#first #tablero{
  padding-top: 20px;
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}
#tablero a{
  margin-left: 25px;
}
/*segunda Seccion*/
#second{
  width: 100%;
  height: 800px;
  margin: 0;
  padding: 0;
}
.container{
  width: 11%;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  padding-left: 20px;
}
.star{
  width: 250px;
  background-color: #d6dadc;
  border: none;
  outline:0px;
  border-radius: 5px;
  padding: 7px;
  text-align: left;
}
.star:hover{
  background:#026aa7;
  color:#ffffff;
}
#hidden{
  display: none;
}
.hidden{
  display: none;
}
.show{
  display: inline-block;
}
#container-list{
  width: 270px;
  padding: 4px;
  border-radius: 3px;
  margin: 0 10px;
}
#append{
  background-color: #32cd32;
  color:#ffffff;
  width: 80px;
  height: 30px;
  border:none;
  outline: 0px;
  font-size: bold;
  margin-top: 4px;
}
.form-list{
  background: #e2e4e6;
  width: 270px;
  height: auto;
  padding: 4px;
  border-radius: 3px;
  margin: 0 10px;
}
.inputList{
  width: 255px;
  padding: 7px;
  border: 1px solid #aaa;
  background: rgba(0, 0, 0, .05);
  text-align: left;
  border-radius: 3px;
  color: black;
}
.fa-times{
  color:#000;
}
.floatleft{
  display: inline-block;
  position: absolute;
  left: 300px;
}
.addTarget{
   width: 270px;
   height: 34px;
   background:#e2e4e6;
   color: #4d4d4d;
   display: block;
   border-radius: 0  0 5px 5px;
   margin-left: 10px;
   font-size:14px;
   line-height: 20px;
   padding: 7px;
}
.divLista{
  width: 270px;
  height:auto;
  background:#e2e4e6;
  color: black;
  display:block;
  border-radius: 5px  5px 0px 0px;
  margin-left: 10px;
  font-size:14px;
  line-height: 20px;
  padding: 7px;
  word-wrap: break-word;
}
.buttonTextarea{
  background-color: #32cd32;
  color:#ffffff;
  width: 80px;
  height: 30px;
  padding-top: 5px;
  border:none;
  outline: 0px;
  font-size: bold;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}
.formAdd{
 width: 100%;
}
.textarea{
  width:265px;
  margin-right:10px;
}
.work{
  background-color: red;
  margin-bottom: 5px;
}
